<h1>精算</h1>

<div>

<%= form_for User.new, html: { class: "form-group" } do |f| %>
  <%= f.text_field :name %>
  <%= f.text_field :price %>
  <%= f.submit %>
<% end %>


  <% @users.each do |user| %>
    <% next if user.blank? %>

      <form>
        名前: <%= user.login_id %> <input class="price" data-id="<%= user.id %>" type="text" value="<%= user.price %>" />

        <%= button_to '払った費用登録', { controller: 'home', action: 'update' }, { method: :post } %>
      </form>
  <% end %>

  <h2>トータル費用: <%= @total %> </h2>
</div>

